.services{
    font-size: 40px;
    text-align: end;
    font-weight: 700;

}
.servises-main{
    background-image: url(/src/image/servicesbg.svg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   padding-top: 90px;
}
.dev-btn {
    color: #e56700;
    text-decoration: none;
    font-weight: 500;
}
.head{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 16px;
    color: #7a82ab;
    letter-spacing: .1em;
}
.head h3{
    font-size: 20px;
}
.soft-pro{
    text-align: right;
}
.see-btn a{
transition: 0.5s;
}
.btn-my:hover{
    color: #FFFFFF;
}
/* Card Css */
.main{
    background-color: #f6f7fa;
    padding-top: 50px;
    
}
.soft h1{
    font-size: 40px;
}
.pro h1{
    font-size: 40px;
}
.talent h1{
    font-size: 40px;
}
.card-ser{
      width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
}

.md_icon {
 
    font-size: 20px;
  }
.card-ser h2{
    font-size: 22px;
    line-height: 32px;
    color: #44546F;
    padding: 0px 15px 0px 15px;
}
.card-ser span{
    font-size: 16px;
    color: #44546F;
    padding: 0px 15px 0px 15px;
}
.card-dev img {
    width: 65px;
    padding-left: 13px;
}

.card-ser a{
    font-size: 15px;
    text-decoration: none;
    color: #f1860e;
    justify-content: flex-start;
    font-size: 14px;
    letter-spacing: .1em;
    border: none;
    text-transform: uppercase;
    background: none;
    padding: 50px 15px 0px 15px;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
}
.card-ser h2:hover{
    color: blue;
}