.contact-main{
    background-image: url(/src/image/servicesbg.svg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}
.main-card{
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
  0 32px 64px -48px rgba(0, 0, 0, 0.5);
border-radius: 5px;
}
.contact-btn{
  color: #e56700;
    font-weight: 500;
    font-size: 15px;
    width: 156px;
    height: 50px;
    border-color: #e56700;
    border-radius: 30px;
    background-color: #fff;
    transition: 0.5s;
    border: 2px solid;
}
.contact-btn:hover{
  background-color: #e56700;
  color: #fff;
}
.form p{
  color: red;
  padding: 2px;
}
.cont-img img{
  margin-top: -60px;
  width: 400px;
}
.btn-sub{
  background: linear-gradient(90deg,#ff4d7e 0,#ff6a5b);
  padding: 11px 20px;
  border-radius: 6px;
}

@media screen and (max-width : 480px){
  .cont-img img{
    width: 200px;

  }
}