.servises-main{
    background-image: url(../image/servicesbg.svg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
}
