/* .class-main {
  @apply w-full bg-[#f9f9f9] py-[50px] mt-10;
}
.image {
  @apply h-56 w-full object-cover;
}
.class_b {
  @apply max-w-[1240px] mx-auto;
}
.class_c {
  @apply grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2  gap-8 px-4 text-black;
}
.class_c {
  @layer ss:grid-cols-1;
}
.class_d {
  @apply bg-white rounded-xl overflow-hidden drop-shadow-md;
}
.class-e {
  @apply p-8;
}
.class-f {
  @apply font-bold text-2xl my-1;
}
.class-g {
  @apply text-gray-600 text-base;
}

.main-class{
  background-color: aqua;
}

.class-main {
  background-color: #EEEEEE;
}
.class_c{
padding: 15px ;
background-color: white;
} */


/* ========== */
/* .blog-container {
  padding: 20px;
}

.blog-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.blog-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-card-image img {
  width: 100%;
  height: auto;
}

.blog-card-content {
  padding: 20px;
}

.blog-card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.blog-card-excerpt {
  color: #666;
} */
/* ================== */

/* Blog.css */


.heading_class{
  margin-top: 50px;
}
.blog-container {
  padding: 20px;
}

.blog-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.blog-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-card-link {
  text-decoration: none;
  color: #333;
}

.blog-card-image img {
  width: 100%;
  height: auto;
}

.blog-card-content {
  padding: 20px;
}

.blog-card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.blog-card-excerpt {
  color: #666;
}
