*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.mains{
    padding-top: 150px;
    padding-bottom: 150px;
background-color: rgb(254, 250, 250);
}
.div-project h3{
    font-size: 30px;

}
.proj-header h3{
color: rgb(85, 84, 84);
}
.proj-btn{
    width: 140px;
    height: 50px;
    background-color: orange;
    border-radius: 30px;
    border-color: orange;
    color: #fff;
    transition: 0.5s;
}
.proj-btn:hover{
    background-color: #fff;
    border-color: orange;
    color: orange;
}
