.about {
    font-size: 50px;
    text-align: end;
    margin-right: 5%;
    margin-bottom: 30%;
}
.we-about {
    color: white;
    text-align: start;
}
.about-img img{
    background: linear-gradient(180deg,hsla(0,0%,100%,0) 42.71%,rgba(4,108,252,.8));
}
.img1 {
    margin-top: -17%;
    z-index: 1;
}
.slider {
    margin-top: 10%;
    color: black;
    /* background-color:lightblue; */
}

.slidetitle1 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 40px;
    color: #81b5fd;
}
.slidetitle1 strong {
    font-size: 35px;
    line-height: 100px;
    font-weight: 600;

}
.carouselitem {
    margin-top: 10%;
    margin-left: 12%;
}
.slidepara1 {
    max-width: 560px;
    width: 100%;
    color: rgb(165, 163, 163);
    margin-bottom: 20%;
    font-size: 20px;
}
.triangleimg1 {
    width: 250px;
    margin-left: -10%;
    margin-top: -40%;
}
.triangleimg2 {
    width: 300px;
    margin-left: -20%;
    margin-top: -20%;
}
.triangleimg3 {
    width: 100px;
    margin-left: -25%;
    margin-top: -10%;
}
.lifetext {
    margin-top: -40%;
    margin-bottom: 20%;
}
.style {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .1em;
}
.our {
    margin: 18px 0;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #44546f;

}
.spite {
    font-size: 18px;
    line-height: 28px;
    color: #44546f;
    margin-bottom: 28px;
}
.img3 {
    margin-top: 60%;
    z-index: 3;
}
.img4 {
    /* margin-top: -50%; */
    z-index: -1;
    width: 90%;
    /* margin-bottom: -150%; */
    /* margin-left: 20%; */
    align-items: end;
}
.senior-main{
    padding-top: 150px;
}

.start {
    color: #81b5fd;
    width: 100%;
    text-align: center;
    font-size: 29px;
}
.you {
    text-align: center;
    font-size: 49px;
    font-weight: 400;
}
.circle {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    height: 160px;
    background-color: #f6f7fa;
border-radius: 50%;
}
.circle img {
    width: 70%;
    margin-left: 14%;
    margin-top: 15%;
}
.caption {
    text-align: center;
    margin-top: 5%;
    font-size: 32px;
    line-height: 40px;
    color: #44546f;
}
.board {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 7%;
}
.carouselitem2 {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
.slidetitle2 {
    margin-bottom: 20px;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #1e78f7;
}
.slider2 {
    margin-top: 1%;
    color: black;
    /* background-color:lightblue; */
}
.slidepara2 {
    /* max-width: 560px; */
    width: 100%;
    text-align: center;
    color: rgb(44, 43, 43);
    margin-bottom: 9%;
    font-size: 20px;
}
.triangleimg4 {
    width: 400px;
    margin-left: -8%;
    margin-top: -20%;
}
.img5 {
    margin-top: -10%;
    z-index: -1;
    width: 15%;
    /* margin-bottom: -150%; */
    margin-left: 80%;
    right: 0;
}
.Senior {
    text-align: center;
    margin-top: -3%;
    margin-bottom: 7%;
}
.rowteam {
    background-color: #e5e5e5;
    margin-top: 15%;
}
.team {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 2%;
}
.img8 {
    width: 100%;
    transition: 1;
}
.img8:hover {
    transform: scale(1.1);
    z-index: 1;
    
}
.item1 {
    width: 30%;

}
.item2 {
    width: 30%;
    margin-left: 5%;
    margin-bottom: 10%;
}
.item3 {
    width: 30%;
    margin-left: 5%;
}


@media (min-width: 320px) and (max-width: 499px) { 
    .item1 {
        width: 100%;
    margin-bottom: 10%;
    }
    .item2 {
        width: 30%;
        margin-left: 5%;
        margin-bottom: 10%;
        display: none;
    }
    .item3 {
        width: 30%;
        margin-left: 5%;
        display: none;
    }
    .triangleimg4 {
        width: 400px;
        margin-left: -8%;
    display: none;
        margin-top: -20%;
    }
    .img5 {
        margin-top: -10%;
        z-index: -1;
        width: 15%;
        /* margin-bottom: -150%; */
        margin-left: 80%;
        right: 0;
        display: none;
    }
    .triangleimg1 {
        width: 250px;
        display: none;
        margin-left: -10%;
        margin-top: -40%;
    }
    .triangleimg2 {
        width: 300px;
        display: none;
        margin-left: -20%;
        margin-top: -20%;
    }
    .triangleimg3 {
        width: 100px;
        margin-left: -25%;
     display: none;
        margin-top: -10%;
    }
    .lifetext {
        margin-top: 1%;
        margin-bottom: 20%;
    }
    .carouselitem {
        margin-top: 10%;
        margin-left: 1%;
    }
    .slidetitle1 {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 40px;
        color: #81b5fd;
    }
    .slidetitle1 strong {
        font-size: 50px;
        line-height: 100px;
        font-weight: 600;
    
    }
}
